/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #f5f5f5;

$mainColor: #222;
$headingColor: #1976d2;

$mainFontSize: 42px;
$mainFont: 'Lato', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #f5f5f5;
	}
}

section {
	.background-info {
		font-style: italic;
		color: #585858;

		.reference-link {
			font-size: 0.5em;
		}
	} 

	& > header {
		color: gray;
	}
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------